:root{

   /* Color */
  --primary_color: #ffff;
  --secondary_color: #010101;
  --footer_color: #B3AEAE;
  --green_color: #54654F;
  --border: #707070;


  /* font-family  */

  --primary_font: 'Playfair Display', serif;

  /* font-size (50px,24px, 18px, 12px) */
  --h1_font: 3.125rem;
  --h2_font: 1.5rem;
  --h3_font: 1.313rem;
  --h4_font: 1.125rem;
  --footer_font: 0.75rem;

  /* Margense */
  --header_height: 6.25rem;


}
*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 8px;
  background-clip: padding-box;
  border: 2px solid #fff;
  z-index: 100;
  position: relative;
  background: #f4f4f4;
}

*::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;
  border-radius: 13px;
}

@font-face {
    font-family: 'dream_orphansregular';
    src: url('dream_orphans-webfont.woff2') format('woff2'),
         url('dream_orphans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: auto;
}
body{
  font-family: var(--primary_font);
  background: var(--secondary_color);
  overflow-x: hidden;
}
li{
  list-style-type: none;
}
a{
  text-decoration: none;
}

html,body,address,blockquote,div,
form,fieldset,caption,
h1,h2,h3,h4,h5,h6,
hr,ul,li,ol,ul,
table,tr,td,th,p,img {
	margin:0;
	padding:0;
}

img,fieldset {
	border:none;
}

/* Menu Section  */
.navbar_container{
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 36px;
  padding: 0 4.438rem;
  opacity: 1;
}
.navbar_container .nav_section ul{
  display: flex;
  margin: 0;
}
.navbar_container .nav_section ul li{
  margin-right: 42px;
}
.navbar_container .nav_section ul li svg{
  font-size: 21px;
  color: var(--primary_color);
}

.navbar_container .nav_section ul li a {
  color: var(--primary_color);
  font-size: var(--h3_font);
  text-transform: uppercase;
  font-family: 'dream_orphansregular';
  letter-spacing: 1px;
  position: relative;
}
.navbar_container .nav_section ul li .underline:hover::before{
  content: '';
  height: 1px;
  width: 100%;
  background: var(--primary_color);
  position: absolute;
  margin-top: 24px;

}

.navbar_container  .logo img{
  height: 250px;
}

.mobile_header{
  display: none;
}
.mobile_social_media{
  display:none;
}

/* ===== CAROUSEL CONTAINER ======= */

.image_container{
  width: 100%;
  margin: 0;
  /* position: relative; */
  z-index: -10;
}
.image_container .mySlides img{
  width: 100%;
  height: 100vh;
}
.image_container .mySlides .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
.carousel_container_mobile{
  display: none;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* ======= ABOUT CONTAINER ======== */
.about_container{
margin-top: -5px;
width: 100%;
background: var(--green_color);
height: 20.99rem;
position: relative;
z-index: -10;
color: var(--primary_color);
font-size: var(--h3_font);
font-family: var(--primary_font);



}
.about_container .about_section{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 11rem;
  position: absolute;
  margin-top: 2rem;
}
.about_container .about_section .about_title{
  display: flex;
  flex-direction: column;

}
.about_container .about_section .about_heading{
  line-height: 44px;
  letter-spacing: 9.7px;
  text-transform: uppercase;
  font-size: 41px;
  color: var(--primary_color);
  font-weight: lighter;
}
.about_container .about_section .about_heading span{
  letter-spacing: 2px;
}
.about_container .about_section .about_heading .read_more{
  margin: -10px;
}
.greenplate{
  width: 100%;
  background: red;
  height: 5.6rem;
  margin-top: -10px;
  position: absolute;
  z-index: -1;
}

.blueportion .blue_part{
  width: 100%;
  background-color: #000080;
  height: 50em;
}


/* ========= INSTAGRAM FEED SECTION FOR MOBILE============ */
.igfeed_container{
  display: none;
}
/* ========== FOOTER CONTAINER ======== */
.footer_container{
  display: flex;
  align-items: center;
  bottom: 0;
  left: 0;
  height: 4.5rem;
  width: 100%;
  background: var(--footer_color);
  border: 1px solid var(--border);
}

.footer_container .footer_section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 4.438rem;
}
.footer_container .footer_section .social_media_icons{
  width: 144px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  color: var(--secondary_color);
}
.footer_container .footer_section .social_media_icons .icons{
  color: var(--secondary_color);
}
.footer_container .footer_section .social_media_icons .icons:hover{
  color: var(--primary_color);
}


@media screen and (min-device-width: 1400px) {

  .about_container{
    height: 24.5rem;
  }
  .about_container .about_section{
    margin-top: 50px;
    font-size: 28px;
  }
}
@media screen and (max-device-width: 1200px) {
  .about_container{
    height: 24.5rem;
  }
  .about_container .about_section{
    margin-top: 60px;

  }
}
/* ===== MOBILE VIEW ========= */
@media screen and (max-width: 600px) {
   body{
     background: var(--primary_color);
     overflow-x: hidden;
     width: 100%;
     /* z-index: 99; */
     margin: 0;
     padding: 0;
   }
   header{
     position: fixed;
     display: block;
     height: 131.5px;
     background-color: var(--primary_color);
     width: 100%;
     z-index: 99;
     top: 0;
     left: 0;
     right: 0;
     z-index: -1;

   }
   header{
     position: fixed; !important
     height: 131.5px;
     background-color: var(--primary_color);
     width: 100%;
     z-index: 100;
     top: 0;
     left: 0;
     right: 0;

   }

  .navbar_container .nav_section  {
    display: none;
    position: absolute;
    transform: translateX(450px);
transition: transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
    top: -40px;
    right: 0px;
    height: 145vh;
    width: 70%;
    background: var(--green_color);
  }
   .navbar_container .nav_section .navbar_items {
     height: 145vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

   }
.navbar_container .nav_section .navbar_items .navbar_item{
    margin: 12px 30% 12px ;
    align-self: flex-start;
}
.navbar_container .nav_section .navbar_items .navbar_item a{
    font-size: 36px;
    color: var(--primary_color);
}

.navbar_container .nav_section .navbar_items .mobile_social_media{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 55%;
 align-items: center;
}
.navbar_container .nav_section .navbar_items .mobile_social_media .mobile_sm_icons{
  width: 42px;
  height: 42px;
  background-color: var(--footer_color);
  text-align:center;
  line-height: 56px;
  border-radius: 0.50rem;
  border: 1px solid #000;
}
.navbar_container .nav_section .navbar_items .mobile_social_media .mobile_sm_icons svg{
  width: 28px;
  height: 28px;

}

   .navbar_container .mobile_header .mobilelogo img{
     position: absolute;
     display: block;
     top: -10px;
     left: 20px;

   }


   .mobilelogo{
     display: block;
   }
   .logo{
     display: none;
   }
   .mobile_header{
     display: flex;
     align-self: center;
     justify-content: center;
     height: 100vh;
     background: #fff;

   }



   /* .mobile_header  .toggle{
     position: absolute;
     top: 30px;
     right: 25px;
     font-size: 32px;
  } */

  .mobile_header .menu{
    position: absolute;
    top: 30px;
    right: 25px;
    width: 45px;
    align-items: center;
  }
  .menu-open #nav_section {
  transform: translateX(0);
}


.toggle, .toggle::before, .toggle::after {
  transition: 0.2s background linear 0.1s, 0.2s top linear 0.2s, 0.2s transform linear;
  position: absolute;
  background: #707070;
  margin: auto;
  width: 45px;
  height: 0.3rem;
  content: "";
}
.toggle {
  margin-top: 0px;
}
.toggle::before {
  margin-top: 15px;
}
.toggle::after {
  margin-top: 30px;
}
.toggle::before, .toggle::after {
  transform: rotate(0deg);
}
.active .toggle {
  background: 0;
}
.active .toggle::before {
  transform: rotate(45deg);
  margin-top: 15px;

}
.active .toggle::after {
  transform: rotate(-45deg);
  margin-top: 15px;


}
.active .toggle::before, .active .toggle::after {
  top: 0;
  background: #fff;
}
.active .toggle, .active .toggle::before, .active .toggle::after {
  transition: 0.2s background linear 0.1s, 0.2s top linear, 0.2s transform linear 0.2s;
}


  /* .mobile_header .toggle, .toggle::after,  .toggle::before{
    content: '';
    height: 3px;
    width: 36px;
    background-color: #000;
    display: block;
    position: absolute;
    margin-top: 12px;
    background: var(--border);
  }


    .mobile_header .toggle::after{
      margin-top: 0.8rem;
      transform: rotate(-45deg);

    }
    .mobile_header .toggle::before{
      margin-top: -0.8rem;
      transform: rotate(45deg);
    } */

  .instagram{
    display: none;
  }
   /* main{
     display: relative;
   } */

   /* ======== CARSOUSEL CONTAINER ========= */
   .carousel_container{
     display: none;
   }
   .carousel_container_mobile{
    margin-top: 131.5px;
    display: block;
    width: 100%
   }

   .carousel_container_mobile .image_container_mobile .mySlides_mobile img{
    /* width: auto; */
    width: 140%;
    height: 120vh;
   }

   .image_container_mobile{
     width: 100%;
     margin: 0;
     /* position: relative; */
     z-index: -10;
   }
   .image_container_mobile .mySlides_mobile img{
     width: 100%;
     height: 100vh;
   }
   .image_container_mobile .mySlides_mobile .fade {
     -webkit-animation-name: fade;
     -webkit-animation-duration: 1.5s;
     animation-name: fade;
     animation-duration: 1.5s;
   }
   .carousel_container_mobile{
     display: block;
   }
   @-webkit-keyframes fade {
     from {opacity: .4}
     to {opacity: 1}
   }

   @keyframes fade {
     from {opacity: .4}
     to {opacity: 1}
   }



   /* ====== ABOUT SECTON ===== */
  .about_container{
    display: flex;
    justify-content: center;
    background: var(--primary_color);
    color: #000;
    font-size: 21px;
    align-items: center;
    padding-right: 20px;
    margin: 0px auto 100px;

  }

  .about_container .about_section .about_heading{
    color: #000;
  }
  .about_container .about_section .about_heading .read_more{
    margin-left:  345px;
    margin-top: 5px;
  }
  /* ======= HIDDING BLUE PORTON ====== */
  .blueportion{
    display: none;
  }

  /* ========== INSTAGRAM FEED CONTAINER =========== */
 .igfeed_container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  height: 600px;
  width: 140%;
   margin: 0;
   /* padding: 5rem; */
   /* width: 500px; */
   margin-bottom: 50px;


 }
 .igfeed_container .igfeed_section{
   display: flex;
   justify-content: center;
   align-items: flex-start;
   flex-direction: column;

 }
  .igfeed_container .igfeed_section .view_feed{
    display: flex;
    align-items:center;
    justify-content:center;

  }
    .igfeed_container .igfeed_section .view_feed p{
      font-size: var(--h4_font);
      text-transform: uppercase;
      color: #777;
      margin-left: 20px;
      margin-bottom: 10px;
      line-height: -20px;
    }

 .igfeed_container .igfeed_section .view_feed svg{
    margin-bottom: 15px;
    width: 35px;
    height: 35px;
    color: Var(--secondary_color);
 }
 .igfeed_container .igfeed_section img{
   width: 425px;
   margin-bottom: 50px;
 }

.footer_container  {
  /* position: relative; */
  width: 140%;;

}
.footer_container .footer_section{
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}
.footer_container p{
  text-align: center;
  /* margin-left: 90px; */

}
.footer_container .footer_section .social_media_icons{
  display: none;
}

}
